 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome);
 //'Droid Sans', sans-serif;
$freak:'Lato', sans-serif;
$number: 'Arvo', serif;
//$number:  'Oswald', sans-serif;
$title: 'Raleway', sans-serif;
// 'Roboto Condensed', sans-serif;
//'Montserrat', sans-serif;
//font library
//'Fjalla One', sans-serif;
// 'Righteous', cursive;
$cool:'Francois One', sans-serif;
//'Nunito', sans-serif;
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


//colors pallette
$darkgreen:   hsl(160,7,23);
$machine: hsl(279,1,34);
$gold: hsla(47, 100%, 50%, 1);
$tan: hsl(31,28,68);
$tanlight: hsl(60,100,94);
$red: hsl(355,93,52);
$orange: hsl(32,90,55);
$yellow: hsl(57,100,53);
$gray: hsla(0, 0%, 80%, 1);

$buttons: rgb(250,66,58);
$outline: hsl(31,34,73);
$neon: hsla(80, 100%, 55%, 1);
$teal: hsla(167, 100%, 55%, 1);
$hero: hsla(0, 0%, 96%, 1);
$purp:  hsla(271, 100%, 55%, 1);
// Custom Styles
body {background-color: $machine;
  //background-size: cover;
  //background-image:url("/images/IMG_2955.jpg");
  background-color: hsla(51, 100%, 68%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

}
.header{
  background-image: url("../images/IMG_2955.jpg");
  height: 200px;
  position: relative;
  color: black;
  opacity: .9;
  transition: opacity 1.2s ease;
  margin-bottom: 10px;
  background-size: cover;
  &:hover{
    opacity: 1;
  }
}
#body-container{
  //background-color:  $darkgreen;
  background-image: url('../images/IMG_2955.jpg');
  background-size: cover;
  //opacity: .9;

  height: 1000px;
  h1 {
    margin-left: 320px;
    font-size: 100px;
    padding-top: 10px;
    padding-left: 30px;
    height: 150px;
    color: white;
    background-color: $darkgreen;
    line-height: 1;
    width: 700px;
    letter-spacing: -1px;
  }

}



#addTrack{
  background-color: black;
  -webkit-box-shadow: 10px 40px 100px 20px #000000;
  box-shadow: 10px 40px 100px 20px #000000;
  width: 600px;
  margin-top: 80px;
  opacity: .9;
  margin-left: 360px;
  border: 1px solid $machine;
  border-radius: 20px;
  height: 250px;
  transition: opacity 0.8s ease;
  position: relative;
  &:hover{
  opacity: 1;
  }
  .add-artist, .add-title, .add-bpm, .add-number, .add-url{
    font-family: $number;
    position: absolute;
    font-size: 25px;
    margin-left: 50px;
    font-weight: bold;

  }
  .tracker{
    position: absolute;
    -webkit-box-shadow: 10px 40px 100px 20px #000000;
    box-shadow: 10px 40px 100px 20px #000000;
    width: 200px;
    border: 1px solid $outline;
    border-radius: 200px;
    margin-top: -50px;
    background-color: $red;
    height: 40px;
  }
  .add-number{

    margin-left: 17px;
  }
  .add-artist{
    margin-top: 20px;

  }
  .add-url{
    margin-top: 120px;
  }
  .add-bpm{
    margin-top: 180px;
  }

  #track_artist, #track_title, #track_bpm, #track_number,#track_url{
    position: absolute;
    width: 400px;
    opacity: .8;
    margin-left: 140px;
    color: black;
    background-color: $gold;
    font-family: $number;
    border: none;
    border-radius: none;
    margin-top: 25px;
  }
  #track_title{
    margin-top: 75px;

  }
  #track_url{
    margin-top: 126px;
  }
  #track_number{
    width: 33px;
    opacity: 1;
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-top: 5px;
    border-radius: 200px;
    background-color: $red;
    height: 27px;
  }
  #track_bpm{
    margin-top: 180px;
    width: 120px;
    background-color: white;

  }
  .add-title{
    margin-top:70px;
}

}

///update will go here
.trackSingle {
  margin: 50px auto 0 auto;
  width: 660px;
-webkit-box-shadow: 10px 40px 100px 20px #000000;
box-shadow: 10px 40px 100px 20px #000000;
  height: 300px;
  position: relative;
  margin-left: 340px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  opacity: .9;
  background-color: $machine;
  border-radius: 6px;
  margin-bottom: 30px;
  transition: opacity 0.8s ease;
  //border: 2px solid $tan;
  padding: 60px;
&:hover{
  opacity: 1;
}
  form {
    margin: 15px 0;
  }
  input{
    border: none;
    background-color: $tanlight;
    color: black;
    font-family: helvetica;
    font-size: 18px;
  }
  a{
    position: absolute;
    background-color: $darkgreen;
    margin-left: 200px;
    padding-left: 10px;
    color: white;//hsl(0,0,86);
    width: 40px;
    padding-top: 6px;
    height: 40px;
    margin-left: 360px;
    margin-top: 147px;
    transition: background-color 0.5s ease;
  }
  a:hover{
    background-color: hsla(160, 70%, 29%, 1);
    color: $outline;
  }
  #update_bpm{
    //opacity: .9;
    position: absolute;
    border: 1px solid $outline;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
    width: 75px;
    font-family: $number;
    padding: 0;
    border-radius:6px;
    font-size: 38px;
    margin-left: 480px;
    background-color: white;
    opacity: .8;
  }
  #update_title{
    position: absolute;
    margin-left: -60px;
    padding-top: 0;
    background-color: black;
    font-size:45px;
    font-family: $number;
    width: 660px;
    height: 70px;
    margin-top: -75px;
    color: white;
  }
  #update_artist{
    border-radius:6px;
    position: absolute;
    margin-left: -48px;
    padding-top: 2;
    color: white;
    width: 643px;
    font-size: 26px;
    margin-top: -5px;
    background-color: $machine;
    font-size:18px;

  }

  #update_number{
    border-radius:200px;
    position: absolute;
    margin-left: -32px;
    width: 56px;
    text-align: center;
    background-color: $orange;
    border: 2px solid $outline;
    margin-top: 140px;
    font-size: 23px;
    font-weight: bold;
  }
}
.nav-bar{
  background-color: black;
  width: 700px;
  margin-top: -20px;
  margin-left: 320px;
}

//top console buttons
#show_list, #add_song, #home, #tapeview{
  margin: 16px;
  background-color: $buttons;
  color: black;
  transition: background-color 0.4s ease;
  &:hover{
    background-color: hsla(35, 95%, 54%, 1);
  }

}
#home{
  &:hover{background-color: $gold;}
}

//buttons within view consoles
#submit_song, #updater{
  position: absolute;
  margin-top: 300px;
  background-color: $yellow;
  color: black;
}

#submit_song{
  margin-top: 180px;
  width: 260px;
  margin-left: 280px;
  &:hover{
    background-color: hsla(51, 100%, 48%, 1);
    color: white;

  }
}
#updater{
  position: absolute;
  margin-top: 113px;
  margin-left: 170px;
  border: 1px solid $outline;
  &:hover{
    background-color: hsla(51, 100%, 48%, 1);
    color:white;
  }
}

#delete{
  background-color:hsla(2, 100%, 55%, 1);
  position: absolute;
  margin-top: 113px;
  color: black;
  margin-left: 40px;
  //transition: background-color 0.3s ease;
  border: 1px solid $outline;
  &:hover{
    background-color: hsla(1, 100%, 40%, 1);
    color: white;
  }
  #link{
    margin-left: 180px;
    position: absolute;
    background-color: yellow;
  }
}
#update_comments{
  position: absolute;
  background-color: $tanlight;
  border-radius: 6px;
  width: 605px;
  margin-top:15px;
  margin-left: -34px;
  color: black;
}
#trackList{

}
//styling for tracklist goes here
ul.allTracks{

  li{
    position: relative;
    width: 600px;
    border: 2px solid $machine;
    border-radius: 20px;
-webkit-box-shadow: 5px 20px 100px 10px #000000;
box-shadow: 5px 20px 100px 10px #000000;
    height: 65px;
    margin-left: 360px;
    margin-top: 2px;
    background-color: black;
    transition: width 0.8s ease;
  }
  li:hover{
    width: 530px;

  }
  a{
    color: black;
  }
}
.label{
  position: absolute;
  font-weight: bold;
  margin-left: 70px;
  font-size: 22px;
  height: 60px;
  background-color: black;
  color: white;
  font-family: $number;
}
.bpm{
position: absolute;
margin-left: 530px;
font-size: 22px;
margin-top: 35px;
display: none;
color: $gold;
font-family: $number;
width: 90px;
 padding-left: 20px;
}
.genre{
  clear: both;
  font-size: 14px;
}
.number{
  position: absolute;
  color: white;
  background-color: $red;
  width: 40px;
  height: 40px;
  border: 1px solid $outline;
  border-radius: 100px;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 28px;
  transition: background-color 0.4s ease;
  font-family: $number;
  &:hover{
    background-color: $buttons;
    color: $gold;
  }
}

.main{
  margin-top: 25px;
  margin-left: 320px;
  width: 700px;
  position: relative;
  height: 360px;
  opacity: .9;
  background-color: $darkgreen;
  .main:hover{
    opacity: 1;
  }
  .current{
    font-size: 30px;
    margin-top: 20px;
    color: hsl(60,100,93); //$tan;//$outline;
    font-family: $number;
    padding-left: 30px;
  }
  h2{
    font-size: 50px;
    padding-left: 30px;
  }
  .tape1{
    width: 140px;
    height: 140px;
  //  background-color: $gray;
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    &:hover{
      background-color: $orange;
    }

    img{
      width: 140px;
      opacity: .9;
      //padding-left: 1px;
      //padding-top: 1px;
      height: 140px;
    }
  }
  .tape1info{
    height: 140px;
    position: absolute;
    width: 400px;
    margin-left: 170px;
    margin-top: 20px;
    background-color: $gold;
    transition: background-color 0.8s ease;
    &:hover{
      background-color: $yellow;
    }
    h3,p{
      font-family: $number;
    padding-top: 2px;
    padding-left: 10px;
    }
    p,a{
      color: black;
      font-family: $number;
    }
  }
}

//purely dezine
.fontawesome-trash,.fontawesome-fastforward, .fontawesome-music,.entypo-floppy, .entypo-plus-circled, .entypo-list, .entypo-home, .entypo-play{
  padding-right: 5px;
}
