<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>MixList</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:400,900|Arvo|Oswald|Roboto+Condensed:400,700|Raleway:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Righteous|Francois+One|Nunito' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
  <div id="body-container">



    <div class="header">
         <h1>MixTape</h1>
         <div class="nav-bar">
              <a href="#/"><button id="home"><span class="entypo-home"></span>Home</button></a>
              <a href="#/list"><button id="show_list"><span class="entypo-list"></span>Show Tracks</button></a>
              <a href="#/add"><button id="add_song"><span class="entypo-plus-circled"></span>Add Track</button></a>

         </div>
    </div>


        <div id="trackList"></div>



  </div> <!---end of container-->
    <script type="text/template" id="homeView">
    <h2> Finished Tracks</h2>

    </script>

    <script type="text/template" id="addTemp">

    <form id="addTrack">


        <form id="addTrack">

        <p class="add-artist">Artist:</p><input type="text" id="track_artist" placeholder="Artist" />
        <p class="add-title">Title:</p>  <input type="text" id="track_title" placeholder="Title" />
        <p class="add-bpm">BPM:</p>     <input type="text" id="track_bpm" placeholder="bpm" />
        <button id="submit_song"><span class="entypo-plus-circled"></span>Add Track</button>
    <!--


    <input type="text" id="track_number" placeholder="#" />

        <button id="addnote"><span class="fontawesome-comment"></span></button>
    -->
        </form>
      
    </script>

    <script type="text/template" id="listTemp">
      <li class="card" id="<%= _id %>">

        <a href="#/edit/<%= _id %>">
        <p class="label"><%= artist %> - <%= title %></p>
        <p class="number"><%= number %></p>
        <p class="bpm">   <%= bpm %></p>

        <br>
          <% if(comments !== '') { %>
          <p><%= comments %></p></div>
          <% } %>

           </a>
        </li>
    </script>

    <script type="text/template" id="singleTemp">
      <li class="card" id="<%= _id %>">
        <form id="updateTrack">

              <input type="text" value="<%= title %>" id="update_title" />
              <input type="text" value="<%= artist %>" id="update_artist" />
              <input type="text" value="<%= bpm %>" id="update_bpm" />
              <input type="text" value="<%= number %>" id="update_number" />
          <br>
                <textarea id="update_comments"><%= comments %></textarea>

            <button id="updater"><span class="entypo-floppy"></span>Update Track</button>
            <button id="delete"><span class="fontawesome-trash"></span>Delete</button>
        </form>
      </li>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/trackmodel.js"></script>
    <script src="scripts/collections/trackscollection.js"></script>
    <script src="scripts/views/home_view.js"></script>
    <script src="scripts/views/add_track_view.js"></script>
    <script src="scripts/views/list_tracks_view.js"></script>
    <script src="scripts/views/update_track_view.js"></script>
    <script src="scripts/routes/app_router.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
