<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>MixList</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One|Righteous|Francois+One|Nunito' rel='stylesheet' type='text/css'>

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
  <div id="body-container">

    <div class="nav-bar">
         <a href="/"><button id="home">Home</button></a>
         <a href="/#list"><button id="show_list">Show Tracks</button></a>
         <a href="/#add"><button id="add_song">Add Track</button></a>

    </div>

    <div class="header">
         <h1>MixList</h1>
    </div>


    <div class="hero-unit">
        <div class="main">
          <h1>Finished Mixes</h1>
          <h2> Will go here </h2>
          <button id="random">Random</button>
        </div>

        <div id="trackList"></div>

    </div><!---end of hero unit-->

  </div> <!---end of container-->


    <script type="text/template" id="addTemp">
        <form id="addTrack">

        <input type="text" id="track_title" placeholder="Title" />
        <input type="text" id="track_artist" placeholder="Artist" />
        <input type="text" id="track_genre" placeholder="Genre" />
        <input type="text" id="track_number" placeholder="Number" />
        <input type="text" id="track_bpm" placeholder="BPM" />
        <button id="submit_song">Add Track</button>
        </form>
        <hr />
    </script>

    <script type="text/template" id="listTemp">
      <li class="card" id="<%= _id %>">

        <a href="#/edit/<%= _id %>">
          <div class="card-header"> <p class="label"><%= artist %> - <%= title %> <%= number %></p> <p class="bpm">   <%= bpm %>  </p><!--dont need genre <p class="genre"> <%= genre %> right now--</p>-->
          </div>
          <% if(comments !== '') { %>
          <div class="card-copy"><p><%= comments %></p></div>
          <% } %>

           </a>
        </li>
    </script>

    <script type="text/template" id="singleTemp">
      <li class="card" id="<%= _id %>">
        <form id="updateTrack">
            <div class="card-header">
              <input type="text" value="<%= title %>" id="update_title" />
              <input type="text" value="<%= artist %>" id="update_artist" />
              <input type="text" value="<%= genre %>" id="update_genre" />
              <input type="text" value="<%= bpm %>" id="update_bpm" />
              <input type="text" value="<%= number %>" id="update_number" />
            <div class="card-copy">
                <textarea id="update_comments"><%= comments %></textarea>
            </div>
            <button id="updater">Update Track</button>
            <button id="delete">Delete</button>
        </form>
      </li>
    </script>



    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/trackmodel.js"></script>
    <script src="scripts/collections/trackscollection.js"></script>
    <script src="scripts/views/add_track_view.js"></script>
    <script src="scripts/views/list_tracks_view.js"></script>
    <script src="scripts/views/update_track_view.js"></script>
    <script src="scripts/routes/app_router.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
